body {
  background-color: #eee;
  font-size: 18px;
  color: #333;
  overflow-wrap: break-word;
}

.noscroll {
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 20px 0 8px;
}

h1, .h1 {
  font-size: 1.6em;
}

h2, .h2 {
  font-size: 1.4em;
}

h3, .h3 {
  font-size: 1.2em;
}

h4, .h4 {
  font-size: 1.1em;
}

h5, .h5 {
  font-size: 1em;
}

h6, .h6 {
  font-size: 0.9em;
}

p {
  margin: 8px 0;
}

#layout, #menu, .menu-link {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

#layout {
  position: relative;
  left: 0;
  padding-left: 0;
}

#layout.active #menu {
  left: calc(85% + 1px);
  width: 85%;
}

#layout.active .menu-link {
  right: 0;
}

#menu {
  margin-left: calc(-85% - 1px);
  width: 85%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
  background: #eee;
  border-right: solid 1px #ddd;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.pure-menu {
  padding: 20px 8px;
}

#menu .pure-menu, #menu .pure-menu ul {
  border: none;
  background: transparent;
}

#menu .pure-menu li a:hover, #menu .pure-menu li a:focus {
  background: #ddd;
}

.menu-link {
  position: fixed;
  display: block;
  top: 0;
  right: 0;
  background: #ccc;
  font-size: 10px;
  z-index: 10;
  width: 18px;
  height: auto;
  margin: 4px;
  padding: 20px 15px;
  border-radius: 25px;
  box-shadow: 2px 2px #bbb;
}

.menu-link span {
  position: relative;
  display: block;
}

.menu-link span, .menu-link span:before, .menu-link span:after {
  background-color: #bceedd;
  width: 100%;
  height: 2px;
}

.menu-link span:before, .menu-link span:after {
  position: absolute;
  margin-top: -6px;
  content: " ";
}

.menu-link span:after {
  margin-top: 6px;
}

#main {
  padding: 0 8px;
}

header {
  margin: 0 -8px;
  padding: 10px;
  text-align: center;
  background-color: #bceedd;
  border-bottom: solid 1px #ddd;
}

header h1, .h1 {
  margin: 10px 0 16px 0;
}

header a, header a:link, header a:visited, header a:hover, header a:active {
  color: #333;
  text-decoration: none;
}

.maincontent {
  margin: 0 auto;
  max-width: 800px;
}

.pptitle, .rptitle {
  padding: 4px;
  border-width: 0 0 4px 8px;
  border-style: solid;
  border-color: #bceedd;
  border-radius: 2px;
  background-color: #fff;
}

.postindex {
  position: relative;
  margin: 4px;
  padding: 4px;
  background-color: #fff;
  border: solid 1px #ddd;
  border-radius: 4px;
  box-shadow: 0 0 8px #ccc;
}

.postindex a {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.postindex div {
  font-size: 75%;
  margin-bottom: 4px;
}

.postindex h3 {
  margin-top: 12px;
}

.post {
  margin-top: 20px;
  padding: 8px 4px;
  background-color: #fff;
  border: solid 1px #ddd;
  border-radius: 4px;
  box-shadow: 0 0 8px #ccc;
}

.postdata {
  margin-bottom: 4px;
}

.post h1 {
  margin-bottom: 20px;
  padding-bottom: 8px;
  border-bottom: solid 2px #ddd;
}

.sidebarinner {
  padding: 20px 0 20px 16px;
}

.searchbtn {
  margin-top: 0 !important;
}

footer {
  margin: 20px -8px 0;
  padding: 10px;
  text-align: center;
  background-color: #fff;
  border-top: solid 1px #ddd;
}



@media (min-width: 48em) {
  #menu, .menu-link {
    display: none;
  }
}

@media (max-width: 48em) {
  #layout.active {
    overflow: hidden;
    position: relative;
    left: 0;
  }

  header {
    padding-top: 40px;
  }
  
  .sidebar {
    display: none;
  }
}
